[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/ffmpeg"]
	path = thirdparty/ffmpeg
	url = https://github.com/xqcache/ffmpeg.git
